name: Lint & Format

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-tools
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install lint tools
        run: pip install ruff black

      - name: Ruff Lint
        run: ruff check .

      - name: Black Format Check
        run: black --check .
